* {
    margin: 0;
    padding: 0;
}

ul, li {
    list-style: none;
}

a {
    text-decoration: none;
    cursor: pointer;
}

body, html {
    width: 100%;
    height: 100%;
    background: #fff;
    color: #333;
    font-size: 12px;
}

.top {
    min-width: 1000px;
    height: 29px;
    line-height: 29px;
    font-family: arial, "΢���ź�";
    background-color: #fafafa;
    border-bottom: 1px solid #ededed;
    position: relative;
    z-index: 421;
}

.content1200 {
    width: 1200px;
    margin: 0 auto;
}

.head {
    width: 1200px;
}

.layout {
    width: 1200px;
    position: relative;
    margin: 0 auto;
}

.layout ul {
    height: 29px;
    line-height: 29px;

}

.layout ul li {
    position: relative;
    height: 15px;
    line-height: 15px;
    float: left;
    padding: 0 10px;
    margin: 6px 0 6px 0;
    border-right: 1px solid #dfdfdf;
    text-align: center;
}

.head .left ul {
    margin-top: 2px;
}

.head .left ul li:nth-child(3) {
    padding-right: 20px;
}

.layout ul li a {
    display: block;
    font-size: 12px;
    height: 15px;
    color: #8c8c8c;
}

.layout ul li a:hover {
    color: #ca151e;
    text-decoration: none;
}

.soft span {
    background: url("../images/sprites3.png") no-repeat -34px 0;
    position: absolute;
    right: 7px;
    top: 50%;
    margin-top: -2px;
    width: 7px;
    height: 4px;
    line-height: 0;
}

/*.hide:hover, .b{*/
/*display: block;*/
/*}*/

.head .right {
    float: right;
    margin-top: -26px;
}

.head .right p, .left p {
    display: inline-block;
    color: #333333;
}

.head .right ul li:nth-child(5) {
    padding-right: 20px;
}

.left .b, .right .b {
    display: none;
    position: absolute;
    left: 0;
    right: 0;
    top: 23px;
    padding: 4px 0;
    background-color: #fff;
    border: 1px solid #ededed;
    border-top-color: #fff;
    line-height: 24px;
}

/*logoBig*/
.nav {
    height: 112px;
}

.logo {
    width: 345px;
    height: 112px;
    float: left;
}

.logo img {
    width: 223px;
    height: 36px;
    margin: 38px 122px 38px 0;
}

.center {
    float: left;
    width: 435px;
    height: 100%;
}

/*.center .search{*/
/*width: 100%;*/
/*height:40px;*/
/*}*/
.search {
    position: relative;
}

.text {
    margin-top: 36px;
    width: 394px;
    height: 36px;
    outline-style: none;
}

.button {
    position: absolute;
    bottom: 0;
    right: -3px;
    padding: 1px 6px;
    width: 40px;
    height: 40px;
    border: 1px solid #CCCCCC;
    border-left: none;
    cursor: pointer;
    box-sizing: border-box;
    outline-style: none;
}

.search i {
    position: absolute;
    bottom: 10px;
    right: 10px;
    display: block;
    width: 20px;
    height: 20px;
    background: url("../images/icon47.png") no-repeat -10px 3px;

}

.button:hover {
    background-position: -12px 0;
}

.center {
    position: relative;
}

.center .in {
    /*width: 244px;*/
    height: 18px;
    position: absolute;
    top: 45px;
    right: 50px;
}

.center .in a {
    color: #999;
    font-size: 12px;
    margin-right: 12px;
}

.center .in a:hover {
    color: #333;
}

.car {
    position: relative;
    float: left;
    height: 38px;
    border: 1px solid #EEE;
    background-color: #FFF;
    margin-top: 34px;
    margin-left: 10px;
}

.shop, .carR {
    float: left;
    margin: 10px 0;
    position: relative;
}

.carR {
    float: right;
    position: relative;
}

.shop a, .carR a {
    height: 14px;
    text-align: center;
    font-size: 12px;
    padding-left: 14px;
    color: #333333;
}

.carR a:hover {
    color: #ca151e;
    text-decoration: solid;
}

.carR span {
    position: absolute;
    width: 7px;
    height: 15px;
    line-height: 15px;
    padding: 0 2px;
    background-color: #ca141d;
    right: 3px;
    top: -14px;
    color: #FFF;
    vertical-align: top;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 2px;
}

.carR span > em {
    font-style: normal;
}

.carR span b {
    position: absolute;
    width: 6px;
    height: 3px;
    border-top: 2px;
    background: url("../images/icon1.png") no-repeat -250px 0;
    bottom: -3px;
    right: 4px;
    font-size: 1px;
    line-height: 1px;
}

.car i {
    width: 6px;
    height: 3px;
    background: url("../images/icon1.png") no-repeat -234px -2px;
    display: inline-block;
    vertical-align: middle;
    font-size: 1px;
    line-height: 1px;
    margin: 0 6px;
}
.shop s {
    position: absolute;
    right: 0;
    top: 5px;
    width: 1px;
    height: 14px;
    background: #EEE;
}

.bottom1 {
    display: none;
    width: 197px;
    z-index: 413;
    overflow: hidden;
    border: 1px solid #EEE;
    background-color: #FFF;
}

.bottom1 .prompt {
    padding: 11px 10px;
    color: #666;
    text-align: center;
    margin-top: 3px;
    border-bottom: 1px solid #EEE;
}

.prompt p a {
    margin: 0 4px;
    color: #333333;
}

.buy ul {
    position: relative;
    margin-top: 28px;
}

.buy li {
    float: left;
    width: 98px;
    line-height: 14px;
    border-right: 1px solid #eee;
    margin-bottom: 26px;
    overflow: hidden;
    text-align: center;
}

.buy .pay, .favorable {
    position: absolute;
    right: 0;
    top: 0;
    border-right: none;
}

.buy .favorable {
    top: 42px;
}

.i-mall-event img {
    text-align: center;
    padding: 0 10px 10px;
}

.mycar {
    display: none;
    width: 466px;
    height: 113px;
    position: absolute;
    right: -1px;
    top: 39px;
    border: 1px solid #EEEEEE;
    z-index: 413;
    overflow: hidden;
    background-color: #FFF;
}

.mycar s {
    display: block;
    position: absolute;
    top: 41px;
    left: 100px;

    width: 40px;
    height: 40px;
    background: url("../images/icon1.png") no-repeat -263px 0;
}

.mycar p {
    position: absolute;
    top: 50px;
    left: 150px;
    color: #b6b6b6;
}

.web {
    position: relative;
    float: right;
    width: 91px;
    height: 96px;
    padding-top: 15px;
}

.web .wifi, .wei {
    width: 76px;
    height: 76px;
}

.web > ul > li > p {
    font-size: 11px;
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
}

.circle {
    position: absolute;
    right: 0;
    top: 9px;
}

.circle span {
    display: block;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: #888;
    margin: 6px 0;
    opacity: 1;
}

.circle span:hover {
    background: #ca151e;
}

/*nav-main*/
.nav-main {
    height: 40px;
    background-color: #3a3a3a;
}

.sto {
    height: 40px;
    position: relative;
}

.storewide {
    position: absolute;
    left: 0;
    top: 0;
    width: 240px;
    height: 40px;
    font-family: 'Tahoma', \5FAE\8F6F\96C5\9ED1;
    line-height: 1.5;
}

.storewide .all h2 {
    background: #ca151e;
    height: 40px;
    line-height: 40px;
    color: #fff;
    padding-left: 16px;
    font-size: 14px;
    font-weight: normal;
    cursor: pointer;
}

.subcat {
    width: 240px;
    position: relative;
    cursor: pointer;
    /*display: none;*/
    z-index: 100;
    background: white;
}

.phone {
    padding: 10px 16px;
    height: 44px;
}

.phone h3 {
    font-size: 14px;
    color: #333333;
    font-weight: normal;
}

.phone h3:hover {
    color: #ca151e;
}

.phone a {
    margin-right: 8px;
    font-size: 14px;
    color: #bbb;
}

.phone-list {
    display: none;
    position: absolute;
    top: 0;
    left: 240px;
    width: 220px;
    height: 448px;
    background: #f7f7f7;
}

.phone-list-right {
    float: left;
    width: 220px;
    height: 434px;
    padding-top: 14px;
}

.phone-list-right li {
    vertical-align: top;
}

.phone-list-right li a {
    display: block;
    padding-left: 30px;
    line-height: 42px;
    font-size: 14px;
    color: #333333;
}

.Commend {
    font-size: 14px;
    margin: 9px 0 15px;
    color: #888;
    height: 22px;
    line-height: 22px;
    position: relative;
}

.Commend p {
    text-align: center;
}

.Commend p .span1, .Commend p .span2 {
    display: inline-block;
    width: 43px;
    height: 1px;
    background: #CCCCCC;
    position: absolute;
    top: 50%;
}

.Commend p .span1 {
    position: absolute;
    left: 30px;
}

.Commend p .span2 {
    position: absolute;
    right: 30px;
}

.Commend ul {
    margin: 9px 0;
    color: #333333;
    white-space: normal;
    width: 100%;
}

.Commend ul li {
    margin-bottom: -11px;
}

.Commend ul li:hover {
    background: transparent;
}

.phone-list-right li:hover {
    background: #eeeeee;
}

.subcat-list a:hover {
    color: #ca151e;
}

.phone:hover {
    background: #f7f7f7;
}

/*naver*/
.sto .naver ul {
    width: 960px;
    height: 40px;
    float: right;
    margin-right: -90px;
}

.sto .naver ul li {
    float: left;
    position: relative;
}

.sto .naver li:hover {
    background: #333333;
}

.sto .naver a {
    padding: 0 30px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    color: #fff;
    font-size: 14px;
}

.naver .red span, .pink span, .green span {
    position: absolute;
    top: -15px;
    right: 28px;
}

.hot-board {
    height: 448px;
    width: 100%;
    position: relative;
}

.hot-board img {
    width: 100%;
    height: 448px;
}

.math {
    position: absolute;
    bottom: 10px;
    right: 40px;
}

.hot-board .math li {
    display: inline-block;
    width: 20px;
    height: 20px;
    line-height: 20px;
    text-align: center;
    border-radius: 20px;
    margin-left: 7px;
    color: #fff;
    background: rgba(0, 0, 0, .7);
}

/*layout-list*/
.layout-list {
    margin-top: 20px;
    height: 560px;
}

.span-240 {
    width: 240px;
    float: left;
}

.start {
    height: 160px;
}

.home-channel-list {
    background: #f5f5f5;
    height: 160px;
    text-align: center;
}

.home-channel-list li {
    float: left;
    height: 80px;
    position: relative;
    width: 80px;
}

.home-channel-list a {
    color: #000;
    display: block;
    /*overflow: hidden;*/
    padding: 12px 0 8px;
    text-overflow: ellipsis;
    -webkit-transition: color .2s ease 0s;
    -moz-transition: color .2s ease 0s;
    -ms-transition: color .2s ease 0s;
    -o-transition: color .2s ease 0s;
    transition: color .2s ease 0s;
    white-space: nowrap;
    opacity: .6;
    -ms-filter: alpha(opacity=60);
    filter: alpha(opacity=60);
    cursor: pointer;
}

.home-channel-list span {
    margin: 0 10px 0;
    position: absolute;
    bottom: 10px;
    left: 10px;
}

/*.home-channel-list li.top::before {*/
/*display: none;*/
/*}*/
/*.home-channel-list li::before {*/
/*height: 1px;*/
/*left: 0;*/
/*top: -1px;*/
/*width: 80px;*/
/*}*/
/*.home-channel-list li::before, .home-channel-list li::after {*/
/*background: #EEE;*/
/*content: "";*/
/*position: absolute;*/
/*}*/
/*.home-channel-list li.left::after {*/
/*display: none;*/
/*}*/
/*.home-channel-list li::after {*/
/*height: 80px;*/
/*left: 0;*/
/*top: 0;*/
/*width: 1px;*/
/*}*/
/*.home-channel-list li::before, .home-channel-list li::after {*/
/*background: #EEE;*/
/*content: "";*/
/*position: absolute;*/
/*}*/

.span-960 {
    width: 960px;
    float: right;
}

.span-960 div {
    float: right;
    height: 160px;
    margin-left: 8px;
    width: 312px;
}

.span-960 div img {
    height: 160px;
    width: 312px;
}

.span-960 div:hover {
    transition: box-shadow .2s linear 0s;
}

@keyframes box-shadow {
    0% {
        box-shadow: 0 0 0 transparent;

    }
    100% {
        box-shadow: 4px 8px 2px blue;
    }
}

.hot-list .hot h2 {
    color: #333;
    font-size: 24px;
    font-weight: 200;
    margin: 0;
    padding: 32px 0 12px 0;
}

.hot-bottom-list {
    width: 1198px;
    height: 318px;
    border: 1px solid #eee;
    zoom: 1;
}

#list {
    overflow: hidden;
    width: 100%;
    height: 318px;
}

#list li {
    height: 320px;
    width: 239px;
    border-right: 1px solid #EEE;
    margin: 0;
    background: #FFF;
    float: left;
    position: relative;
    z-index: 1;
}
#list .hot img {
    position: absolute;
    width: 70px;
    height: 18px;
    left: 50%;
    top: 0;
    margin-left: -35px;
    z-index: 2;
}

#list .fan p img {
    width: 146px;
    height: 146px;
    position: absolute;
    left: 46px;
    top: 47px;
}
.fan p img:hover{
   transform: scale(1.05);
}
.fan .title {
    font-size: 14px;
    font-weight: 400;
    color: #222;
    position: absolute;
    bottom: 80px;
    left: 102px;
}

.fan .fan-desc {
    font-size: 12px;
    font-weight: 400;
    margin: 2px 20px 6px;
    color: #b0b0b0;
    position: absolute;
    bottom: 52px;
    left: 60px;

}

.fan-price {
    margin: 0;
    font-size: 14px;
    font-weight: 400;
    color: #ca151c;
    position: absolute;
    bottom: 32px;
    left: 95px;

}

#list #last {
    border-right: none;
    margin-right: -1px;
}

.home-banner {
    margin-top: 30px;
    width: 1200px;
    height: 110px;
    position: relative;
}

.home-banner .circle2 {
    position: absolute;
    right: 14px;
    bottom: 5px;
}

.home-banner .circle2 span {
    display: inline-block;
    width: 10px;
    height: 10px;
    margin-left: 6px;
    border-radius: 50%;
    background: #c5c5c5;
}
.top-mar{
    margin-bottom: 10px;
}
.nav-main .container {
    width: 100%;
    background: #f5f5f5;
    /*margin-top: 10px;*/
}

.layoutList-top {
    overflow: hidden;
    margin: 22px 0 12px;
    line-height: 36px;
    position: relative;
}

.layoutList-top h2 {
    color: #333;
    font-size: 24px;
    float: left;
    font-weight: 800;
    margin-left: 7px;
}

.channel-nav {
    float: left;
    margin-left: 28px;
}

.channel-nav li {
    float: left;
    font-size: 12px;
    line-height: 36px;
}

.channel-nav a {
    font-size: 14px;
    padding: 0 12px;
    border-right: 1px solid #EEE;
    color: #999;
}

.channel-more {
    text-align: center;
    float: right;
}

.channel-more a {
    padding: 0 14px;
    font-size: 14px;
    color: #666;
}

.channel-more span {
    display: inline-block;
    margin-top: -2px;
    vertical-align: middle;
    border-radius: 3px;
    width: 3px;
    height: 3px;
    background-color: #bbb;
    margin-right: 3px;
}
.layoutList-bottom{
    height: 570px;
}
 .c5 {
    width: 232px;
    float: left;
    margin-bottom: 10px;
    /*margin-left: 10px;*/
    position: relative;
}
 .span-968{
     width: 968px;
     float: right;
     /*margin-right: -10px;*/
 }
.grid-items {
    background: #FFF;
    float: left;
    margin-bottom: 10px;
    margin-left: 10px;
    position: relative;
    width: 232px;
    height: 280px;
    z-index: 1;
}
.grid-items .thumb {
    display: block;
    width: 100%;
    text-align: center;
}

.grid-items .grid-img {
    margin: 40px auto 0;
    width: 132px;
    height: 132px;
}
.grid-items .grid-title {
    font-size: 14px;
    font-weight: 400;
    margin: 20px 20px 2px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: #222;
}
.grid-items .grid-desc {
    font-size: 12px;
    font-weight: 400;
    margin: 2px 20px 6px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: #b0b0b0;
}
.grid-items .grid-price {
    font-size: 14px;
    font-weight: 400;
    margin: 0 20px 20px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: #ca151c;
    position: relative;
}
.grid-items .grid-price em{
    font-style:normal ;
    font-weight: 400;
}
.grid-items .grid-tips img {
    height: 18px;
    width: 70px;
}
.grid-items .grid-tips {
    position: absolute;
    width: 70px;
    height: 18px;
    left: 50%;
    top: 0;
    margin-left: -35px;
    z-index: 2;
}
 .nav-main .container-padd{
     padding-top: 10px;
 }
.grid-items:hover{
    box-shadow: 5px 5px 20px 5px #f0f0f0;
    top:-2px;
}
.c5:hover{
    box-shadow: 5px 5px 20px 5px #c5c5c5;
    top:-2px;
}
.channel-more a:hover{
    color: #ca151e;
}
.channel-nav a:hover{
    color: #ca151e;
}
#first,#six{
    margin-left: 0px;
}
#five,#ten{
    margin-right:-5px;
}


